{% extends "layout.html" %}
{% block body %}
	search by:
	<form action="{{url_for('bookbyisbn')}}" method="post">
		<input type="text" name="byisbn" placeholder="by isbn">
		<button class="btn btn-primary">Submit by ISBN</button>
	</form><br>
	<form action="{{url_for('bookbyauthor')}}" method="post">
		<input type="text" name="byauthor" placeholder="by author">
		<button class="btn btn-primary">Submit by Author</button>
	</form><br>
	<form action="{{url_for('bookbytitle')}}" method="post">
		<input type="text" name="bybook" placeholder="by title">
		<button class="btn btn-primary">Submit by Title</button>
	</form>
	<form action="{{url_for('bookbyall')}}" method="post">
		<button class="btn btn-primary">Search All</button>
	</form>
{% endblock %}